.resume--download
	color: $resumeLinkColor
	display: inline-block
	font-family: $LatoBold
	margin: -12.5px 0 25px
	min-height: 22px
	padding-right: 30px
	position: relative
	text-align: left
	vertical-align: middle
	
	&:after
		background: url('/img/icons/pdf.png') no-repeat 0 0
		background-size: cover
		content: ""
		display: block
		height: 22px
		position: absolute
		right: 0
		top: 0
		width: 22px

+above(18.75em)
	.resume--header
		display: inline-block
		float: left

	.resume--download
		float: right
		margin: 0
		top: 15px
		
+above(33.75em)
	.resume--header
		padding-right: 35px

	.resume--download
		float: left
		text-align: left