<div class="rd-theme-toggle">
    <button role="switch" aria-checked="false" id="darkMode" class="rd-switch">
        <span>off</span>
        <span>on</span>
    </button>
    <label for="darkMode" class="rd-switch-label">Dark Mode</label>
</div>
