<div class="rd-theme-toggle">
    <button role="switch" aria-checked="false" id="darkMode" class="rd-switch">
        <span aria-hidden="false" id="lightLabel">off</span>
        <span aria-hidden="true" id="darkLabel">on</span>
    </button>
    <label for="darkMode" class="rd-switch-label">Dark Mode</label>
</div>
