<button class="rd-settings-button" id="settings">Settings</button>

<aside class="rd-settings-panel" id="settingsPanel" role="menu">
    <div class="rd-theme-toggle">
        <button role="switch" aria-checked="false" id="darkMode" class="rd-switch">
            <span aria-hidden="false" id="lightLabel">off</span>
            <span aria-hidden="true" id="darkLabel">on</span>
        </button>
        <label for="darkMode" class="rd-switch-label">Dark Mode</label>
    </div>

    <div class="rd-theme-toggle">
        <button role="switch" aria-checked="false" id="highContrast" class="rd-switch">
            <span aria-hidden="false" id="defaultContrast">off</span>
            <span aria-hidden="true" id="contrastOn">on</span>
        </button>
        <label for="highContrast" class="rd-switch-label">High Contrast Mode</label>
    </div>
</aside>
