/*  -----------------------------------
    Colors
    ----------------------------------- */

$bodyBGColor = #ffffff
$bodyFontColor = #333333
$link-color = #563d7c
$module-divider = #cccccc
$footerBGColor = #333333
$footerFontColor = #ffffff
$footerLinkColor = #ffffff


/*  -----------------------------------
    Fonts
    ----------------------------------- */
    
$Lato = 'Lato'
$LatoItalic = 'LatoItalic'
$LatoLightc = 'LatoLight'
$LatoLightItalic = 'LatoLightItalic'
$LatoBlack = 'LatoBlack'
$LatoBlackItalic = 'LatoBlackItalic'
$LatoBold = 'LatoBold'
$LatoBoldItalic = 'LatoBoldItalic'