/*  -----------------------------------
    Colors
    ----------------------------------- */

$bodyBGColor = transparent
$bodyFontColor = #DFEFE9
$headerBGColor = transparent
$headerFontColor = #DFEFE9
$navBGColor = transparent
$navFontColor = #0C383F
$navActiveBGColor = transparent
$navActiveFontColor = #47D4D7
$tabs-base-color = #DFEFE9
$accordionBGColor = rgba(12,56,63,0.85)
$link-color = #47D4D7
$module-divider = #cccccc
$footerBGTransparent = rgba(12,56,63,0)
$footerBGColor = rgba(12,56,63,0.85)
$footerFontColor = #ffffff
$footerLinkColor = #ffffff


/*  -----------------------------------
    Fonts
    ----------------------------------- */

$NixieOne = 'Nixie One'

// $Raleway = 'Raleway'
// $RalewayBold = 'RalewayBold'

$Lato = 'Lato'
$LatoItalic = 'LatoItalic'
$LatoLight = 'LatoLight'
$LatoLightItalic = 'LatoLightItalic'
$LatoBlack = 'LatoBlack'
$LatoBlackItalic = 'LatoBlackItalic'
$LatoBold = 'LatoBold'
$LatoBoldItalic = 'LatoBoldItalic'