<section class="site-navigation fixedsticky">
	<ul class="site-navigation--list">
		<li class="site-navigation--list__item">
			<a href="/" class="site-navigation--link {% if activeNav == "about" %}site-navigation--link__current{% endif %}">About Me</a>
		</li><li class="site-navigation--list__item">
			<a href="snippets.html" class="site-navigation--link {% if activeNav == "snippets" %}site-navigation--link__current{% endif %}">Snippets</a>
		</li><li class="site-navigation--list__item">
			<a href="resume.html" class="site-navigation--link {% if activeNav == "resume" %}site-navigation--link__current{% endif %}">Resume</a>
		</li>
	</ul>
</section>
