<main class="rd-about">
    <div class="rd-about-container">
        <div class="rd-about-content">
            <h2 class="rd-about-title">Greetings</h2>
            <p class="rd-about-text">I am Ryan Dudek, a software engineer based out of (not always) sunny Philadelphia. I am passionate about building awesome and accessible user experiences. I consider myself to be framework agnostic, but have experience with many different development platforms.</p>
            <p class="rd-about-text rd-no-print">Currently, I am a UX Tech Lead (aka <span class="italic">Vice President of Keeping it Awesome</span>) at <a href="http://studio.ey.com" target="new">EY Design Studio PHL</a> in Philadelphia, PA. If you are interested in learning more about me, check out my <a href="resources/Ryan_Dudek-resume.pdf">resume</a>. When I am not online, I enjoy the great outdoors, coffee, art, photography, cooking, baking, reading, and being active. Ask me about my many fake business ventures that are run by my pseudonym - Randy Duke.</p>
            <p class="rd-about-text rd-no-print">
                So long, and thanks for all the fish,<br />
                Ryan
            </p>
        </div>
        <div class="rd-img-container">
            <img src="/img/greetings.png" alt="A photo of Ryan drinking a cup of coffee" class="rd-about-image rd-no-print" />
        </div>
    </div>
    <div class="rd-underlay rd-no-print"></div>
</main>
