<section class="rd-resume">
    <div class="rd-content rd-resume-container">
        <article class="rd-resume-content">
            <h2>Professional Experience</h2>
            <ul class="rd-resume-jobs-list">
                <li class="rd-resume-job">
                    <h3 class="rd-resume-company">Mural</h3>
                    <p class="rd-resume-job-text">
                        <span class="rd-resume-company--years-worked">January 2021 - Present</span> <a href="https://www.mural.co/" class="rd-resume-job--detail" target="new">(www.mural.co)</a><br />
                        <span class="rd-resume-job-title">Senior Software Engineer</span> <span class="rd-resume--title--years-worked rd-resume-job--detail">(January 2021 - Present)</span><br />
                        <span class="rd-resume-job-description">Develop and assist in the implementation of an accessible design system.</span>
                    </p>
                </li>
                <li class="rd-resume-job">
                    <h3 class="rd-resume-company">EY Design Studio PHL <span class="rd-resume-company--aka">(formerly Intuitive Company)</<span></h3>
                    <p class="rd-resume-job-text">
                        <span class="rd-resume-company--years-worked">July 2015 - January 2021</span> <a href="https://studio.ey.com" class="rd-resume-job--detail" target="new">(studio.ey.com)</a><br />
                        <span class="rd-resume-job-title">UX Tech Lead</span> <span class="rd-resume--title--years-worked rd-resume-job--detail">(October 2017 - January 2021)</span><br />
                        <span class="rd-resume-job-title">Senior UX Developer</span> <span class="rd-resume--title--years-worked rd-resume-job--detail">(July 2015 - September 2017)</span><br />
                        <span class="rd-resume-job-description">Collaborated in multi-disciplinary teams to design, create, and develop usable and accessible web and mobile applications. Led development on and launched an in-house research application to deliver research to clients in a usable, beautiful, and dynamic way. Assisted in usability research efforts. Trained coworkers from a variety of disciplines how to test for and understand accessibility. Built internal applications and assisted in the creation of internal processes. Promoted the company and our work through presentations and meetups.</span>
                    </p>
                </li>
                <li class="rd-resume-job">
                    <h3 class="rd-resume-company">EPAM Systems <span class="rd-resume-company--aka">(formerly Empathy Lab)</<span></h3>
                    <p class="rd-resume-job-text">
                        <span class="rd-resume-company--years-worked">April 2010 - June 2015</span> <a href="https://www.epam.com" class="rd-resume-job--detail" target="new">(www.epam.com)</a><br />
                        <span class="rd-resume-job-title">Senior Software Engineer</span> <span class="rd-resume--title--years-worked rd-resume-job--detail">(March 2014 - June 2015)</span><br />
                        <span class="rd-resume-job-title">Front End Web Developer</span> <span class="rd-resume--title--years-worked rd-resume-job--detail">(April 2010 - March 2014)</span><br />
                        <span class="rd-resume-job-description">Collaborated with coworkers across disciplines to produce web applications for an assortment of clients across multiple business units. Provided solutions to user experience and interface design departments. Rapidly built prototypes for sales pitches and for client presentations. Provided solutions for accessible and multi-lingual issues in designs. Assisted in the development of a Responsive Web Design workflow across departments. Led and participated in technical book discussion groups.</span>
                    </p>
                </li>
                <li class="rd-resume-job">
                    <h3 class="rd-resume-company">Home Front Communications</h3>
                    <p class="rd-resume-job-text">
                        <span class="rd-resume-company--years-worked">July 2007 - March 2010</span> <a href="http://www.homefrontdc.com" class="rd-resume-job--detail" target="new">(www.homefrontdc.com)</a><br />
                        <span class="rd-resume-job-title">Front End Web Developer</span><br />
                        <span class="rd-resume-job-description">Used semantic HTML and CSS to lay out web designs. Built and maintained Drupal content management systems for clients. Added site functionality with jQuery.</span>
                    </p>
                </li>
                <li class="rd-resume-job">
                    <h3 class="rd-resume-company">Screenmatter</h3>
                    <p class="rd-resume-job-text">
                        <span class="rd-resume-company--years-worked">April 2007 - June 2007</span> <a href="http://www.screenmatter.com" class="rd-resume-job--detail" target="new">(www.screenmatter.com)</a><br />
                        <span class="rd-resume-job-title">Freelance Front End Developer</span><br />
                        <span class="rd-resume-job-description">Created semantic XHTML and ASP.NET markup. Worked within guidelines of excellent search engine optimization. Used strict CSS to lay out web designs.</span>
                    </p>
                </li>
                <li class="rd-resume-job">
                    <h3 class="rd-resume-company">US News &amp; World Report</h3>
                    <p class="rd-resume-job-text">
                        <span class="rd-resume-company--years-worked">July 2006 - March 2007</span> <a href="http://www.usnews.com" class="rd-resume-job--detail" target="new">(www.usnews.com)</a><br />
                        <span class="rd-resume-job-title">Associate Producer - New Media</span><br />
                        <span class="rd-resume-job-description">Generated HTML for news stories. Posted content to website, compressed video and audio for streaming. Recorded, edited, and mastered audio.</span>
                    </p>
                </li>
            </ul>
        </article>
        <aside class="rd-resume-supplement">
            <h2 class="rd-resume-supplement-title">Skills and Proficiencies</h2>
            <ul class="rd-resume-skills-list">
                <li class="rd-resume-skills-item">Javascript: <span class="rd-resume-skill-description">ES6, React, Redux, Angular, Vue, Node</span></li>
                <li class="rd-resume-skills-item">CSS: <span class="rd-resume-skill-description">Styles, SASS/SCSS, PostCSS, Less, Mobile First </span></li>
                <li class="rd-resume-skills-item">HTML: <span class="rd-resume-skill-description">Static Site Generators, Semantics, Reusable Components</span></li>
                <li class="rd-resume-skills-item">API Development</li>
                <li class="rd-resume-skills-item">Accessibility</li>
                <li class="rd-resume-skills-item">Version Control: <span class="rd-resume-skill-description">Git, GitFlow</span></li>
                <li class="rd-resume-skills-item">Build Tools: <span class="rd-resume-skill-description">Webpack, Node Scripts, Gulp, Grunt</span></li>
                <li class="rd-resume-skills-item">Code Review</li>
                <li class="rd-resume-skills-item">Collaboration</li>
                <li class="rd-resume-skills-item">User Experience</li>
            </ul>
            <h2 class="rd-resume-supplement-title">Get In Touch</h2>
            <p class="rd-resume-contact-name">Ryan Dudek <span class="rd-resume-highlight">Software Engineer</span></p>
            <dl class="rd-resume-contact-list">
                <dt class="rd-sr-only">Email</dt>
                <dd class="rd-resume-contact-info">
                    <a href="mailto:ryandudek@gmail.com" class="rd-resume-contact-link"><span class="rd-resume-icon rd-resume-icon-email"></span>ryandudek@gmail.com</a>
                </dd>
                <dt class="rd-sr-only">Phone</dt>
                <dd class="rd-resume-contact-info">
                    <a href="tel:2025576454" class="rd-resume-contact-link"><span class="rd-sr-only">Call me at </span><span class="rd-resume-icon rd-resume-icon-phone"></span>202.557.6454</a>
                </dd>
                <dt class="rd-sr-only rd-print-only">Web</dt>
                <dd class="rd-resume-contact-info rd-print-only">
                    <a href="/" class="rd-resume-contact-link"><span class="rd-resume-icon rd-resume-icon-web"></span>www.ryandudek.com</a>
                </dd>
                <dt class="rd-sr-only">Github</dt>
                <dd class="rd-resume-contact-info">
                    <a href="https://github.com/ryandudek" class="rd-resume-contact-link" target="new"><span class="rd-resume-icon rd-resume-icon-github"></span>ryandudek</a>
                </dd>
                <dt class="rd-sr-only">Linkedin</dt>
                <dd class="rd-resume-contact-info">
                    <a href="https://www.linkedin.com/in/ryandudek/" class="rd-resume-contact-link" target="new"><span class="rd-resume-icon rd-resume-icon-linkedin"></span>ryandudek</a>
                </dd>
                <dt class="rd-sr-only">Twitter</dt>
                <dd class="rd-resume-contact-info">
                    <a href="https://twitter.com/ryaneffindudek" class="rd-resume-contact-link" target="new"><span class="rd-resume-icon rd-resume-icon-twitter"></span>@ryaneffindudek</a>
                </dd>
            </dl>
        </aside>
    </div>
</section>
