.rd-settings-button {
    background-color: var(--body-bg);
    border: 1px solid var(--link-color);
    border-radius: 20px;
    color: var(--link-color);
    display: inline-block;
    @include font-size(14);
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 20px;
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
    vertical-align: middle;
    z-index: 99;
}

.rd-settings-panel {
    background-color: var(--body-bg);
    border: 1px solid var(--body-text);
    border-radius: 5px;
    opacity: 1;
    padding: 25px;
    position: absolute;
    right: 15px;
    top: 45px;
    transition: opacity .5s ease;
    visibility: hidden;
    z-index: 99;

    &.rd-visible {
        opacity: 1;
        visibility: visible;
    }
}

.rd-theme-toggle {
    display: block;
    margin: 0 0 10px;
}

.rd-switch {
    background-color: var(--body-bg);
    border: 1px solid var(--body-text);
    border-radius: 20px;
    color: var(--body-text);
    display: inline-block;
    @include font-size(12);
    height: 26px;
    line-height: 20px;
    margin: 0 0.25rem 0 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
    width: 70px;

    &:focus {
        outline-color: var(--link-color);
    }

    span {
        display: inline-block;
        height: 22px;
        line-height: 22px;
        padding: 0 6px;
        pointer-events: none;
        vertical-align: middle;
    }
}

[role="switch"][aria-checked="false"] :first-child,
[role="switch"][aria-checked="true"] :last-child {
    background-color: var(--link-color);
    border-radius: 15px;
    color: var(--body-bg);
}

.rd-switch-label {
    @include font-size(16);
    line-height: 20px;
    user-select: none;
    vertical-align: middle;
}
