.rd-icon-button {
    background-color: var(--body-bg);
    border: 1px solid var(--link-color);
    border-radius: 50px;
    color: var(--link-color);
    cursor: pointer;
    display: inline-block;
    @include font-size(14);
    height: 40px;
    padding: 3px 8px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    transition: background-color var(--transition), border-color var(--transition), color var(--transition);
    vertical-align: middle;
    z-index: 99;

    &:focus {
        outline-color: var(--link-color);
        background-color: var(--link-color);
        color: var(--body-bg);
    }

    &:hover {
        background-color: var(--link-color);
        color: var(--body-bg);
    }

    .rd-button-text {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }

    svg {
        display: inline-block;
        height: auto;
        margin: 0 5px 0 0;
        vertical-align: middle;
        width: 16px;
    }
}

.rd-settings-panel {
    background-color: var(--body-bg);
    bottom: 0;
    left: 0;
    max-width: 60em;
    opacity: 1;
    overflow-x: hidden;
    padding: 60px 25px 25px;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity var(--transition);
    visibility: hidden;
    z-index: 101;

    &.rd-visible {
        opacity: 1;
        visibility: visible;
    }
}

.rd-settings-bg {
    opacity: 0;
    transition: opacity var(--transition);
    visibility: hidden;
}

.rd-theme-toggle {
    display: block;
    margin: 0 0 10px;
}

.rd-switch {
    background-color: var(--body-bg);
    border: 1px solid var(--body-text);
    border-radius: 20px;
    color: var(--body-text);
    cursor: pointer;
    display: inline-block;
    @include font-size(12);
    height: 26px;
    line-height: 20px;
    margin: 0 0.25rem 0 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    transition: background-color var(--transition), border-color var(--transition), color var(--transition);
    width: 70px;

    &:focus {
        outline-color: var(--link-color);
    }

    &:hover ~ .rd-switch-label {
        text-decoration: underline;
    }

    span {
        display: inline-block;
        height: 22px;
        line-height: 22px;
        padding: 0 6px;
        pointer-events: none;
        transition: background-color var(--transition), border-color var(--transition), color var(--transition);
        vertical-align: middle;
    }
}

[role="switch"][aria-checked="false"] :first-child,
[role="switch"][aria-checked="true"] :last-child {
    background-color: var(--link-color);
    border-radius: 15px;
    color: var(--body-bg);
}

.rd-switch-label {
    cursor: pointer;
    @include font-size(16);
    line-height: 20px;
    user-select: none;
    vertical-align: middle;
}

@media screen and (min-width: 48em) {
    .rd-settings-panel {
        border: 1px solid var(--body-text);
        border-radius: 5px;
        left: 50%;
        min-height: 60vh;
        padding: 40px;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;

        &.rd-visible ~ .rd-settings-bg {
            background-color: var(--body-bg);
            bottom: 0;
            content: "";
            display: block;
            left: 0;
            opacity: 0.4;
            position: fixed;
            right: 0;
            top: 0;
            visibility: visible;
            z-index: 100;
        }
    }
}

@media print {
    .rd-icon-button,
    .rd-settings-panel,
    .rd-theme-toggle,
    .rd-switch {
        display: none;
    }
}
