@media screen and (prefers-color-scheme: dark) {
    :root {

        --light-text: #DADADA;

        --link-color: #FEC0C5;

        --body-bg: #001A1B;

        --body-text: #FCFCFC;

        --about-bg: #002E2F;

        --about-text: #FCFCFC;

        --header-text: #FEC0C5;

        --header-image: url('/img/icons-light/chemex.svg');

        --email-image: url('/img/icons-light/email.svg');

        --phone-image: url('/img/icons-light/phone.svg');

        --web-image: url('/img/icons-light/web.svg');

        --github-image: url('/img/icons-light/github.svg');

        --linkedin-image: url('/img/icons-light/linkedin.svg');

        --twitter-image: url('/img/icons-light/twitter.svg');
    }
}
