:root {

    --light-text: #4D4D4D;

    --link-color: #006264;

    --body-bg: #FDFDFD;

    --body-text: #3C3C3C;

    --about-bg: #FDFDFD;

    --about-text: #3C3C3C;

    --header-text: #006264;

    --header-image: url('/img/icons/chemex.svg');

    --email-image: url('/img/icons/email.svg');

    --phone-image: url('/img/icons/phone.svg');

    --web-image: url('/img/icons/web.svg');

    --github-image: url('/img/icons/github.svg');

    --linkedin-image: url('/img/icons/linkedin.svg');

    --twitter-image: url('/img/icons/twitter.svg');

    --animation: 0.666s ease-in-out;

    --transition: 0.5s ease-in-out;
}

@media screen and (prefers-color-scheme: light) {
    :root {

        --light-text: #4D4D4D;

        --link-color: #006264;

        --body-bg: #FDFDFD;

        --body-text: #3C3C3C;

        --about-bg: #FDFDFD;

        --about-text: #3C3C3C;

        --header-text: #006264;

        --header-image: url('/img/icons/chemex.svg');

        --email-image: url('/img/icons/email.svg');

        --phone-image: url('/img/icons/phone.svg');

        --web-image: url('/img/icons/web.svg');

        --github-image: url('/img/icons/github.svg');

        --linkedin-image: url('/img/icons/linkedin.svg');

        --twitter-image: url('/img/icons/twitter.svg');
    }
}
