@media screen and (prefers-contrast: high), (prefers-color-scheme: dark) {
    :root {
        --light-text: #fafafa;
        --link-color: #e8858d;
        --body-bg: #000000;
        --body-text: #ffffff;
        --about-bg: #000000;
        --about-text: #ffffff;
        --header-text: #ffffff;
        --header-image: url('/img/icons-light/chemex.svg');
        --email-image: url('/img/icons-light/email.svg');
        --phone-image: url('/img/icons-light/phone.svg');
        --web-image: url('/img/icons-light/web.svg');
        --github-image: url('/img/icons-light/github.svg');
        --linkedin-image: url('/img/icons-light/linkedin.svg');
        --twitter-image: url('/img/icons-light/twitter.svg');
    }
}

@media screen and (-ms-high-contrast: black-on-white) {
    :root {
        --light-text: #fafafa;
        --link-color: #e8858d;
        --body-bg: #000000;
        --body-text: #ffffff;
        --about-bg: #000000;
        --about-text: #ffffff;
        --header-text: #ffffff;
        --header-image: url('/img/icons-light/chemex.svg');
        --email-image: url('/img/icons-light/email.svg');
        --phone-image: url('/img/icons-light/phone.svg');
        --web-image: url('/img/icons-light/web.svg');
        --github-image: url('/img/icons-light/github.svg');
        --linkedin-image: url('/img/icons-light/linkedin.svg');
        --twitter-image: url('/img/icons-light/twitter.svg');
    }
}
