/*  -----------------------------------
    Custom Fonts
    ----------------------------------- */
@font-face {
    font-family: Homestead;
    src: url('../fonts/Homestead/Homestead-Display.ttf')  format('truetype');
    font-weight: normal;
    font-display: swap;
}
