/*  -----------------------------------
    Custom Fonts
    ----------------------------------- */
@font-face {
    font-family: 'Homestead';
    src: url('../fonts/Homestead/Homestead-Display.ttf')  format('truetype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');
