/*  -----------------------------------
    Colors
    ----------------------------------- */

$offWhite: #fdfdfd;
$clam: #fcfcfc;
$charcoal: #3c3c3c;
$grey: #4d4d4d;
$black: #000000;
$transparent: transparent;
$coral: #e8858d;
$teal: #00797b;
$smalt: #539091;
$linkShadow: rgba($black, 0.05);

/*  -----------------------------------
    Fonts
    ----------------------------------- */

$Homestead: 'Homestead';
$Lato: 'Lato';
$LatoItalic: 'LatoItalic';
$LatoBold: 'LatoBold';
$LatoBoldItalic: 'LatoBoldItalic';
