/*  -----------------------------------
    Colors
    ----------------------------------- */

$offWhite: #FDFDFD;
$clam: #FCFCFC;
$charcoal: #3C3C3C;
$grey: #4D4D4D;
$black: #000;
$transparent: transparent;
$coral: #FEC0C5;
$teal: #006264;
$smalt: #539091;
$linkShadow: rgba($black, 0.05);

/*  -----------------------------------
    Fonts
    ----------------------------------- */

$Homestead: 'Homestead';
$Lato: 'Lato';
$LatoItalic: 'LatoItalic';
$LatoBold: 'LatoBold';
$LatoBoldItalic: 'LatoBoldItalic';
