@import '_variables';
@import '_mixins';
@import '_reset';
@import '_fonts';


:root {
    --light-text: #4d4d4d;
    --link-color: #006264;
    --body-bg: #fdfdfd;
    --body-text: #3c3c3c;
    --about-bg: #fdfdfd;
    --about-text: #3c3c3c;
    --header-text: #006264;
    --header-image: url('/img/icons/chemex.svg');
    --email-image: url('/img/icons/email.svg');
    --phone-image: url('/img/icons/phone.svg');
    --web-image: url('/img/icons/web.svg');
    --github-image: url('/img/icons/github.svg');
    --linkedin-image: url('/img/icons/linkedin.svg');
    --twitter-image: url('/img/icons/twitter.svg');
}

@media (prefers-color-scheme: light) {
    :root {
        --light-text: #4d4d4d;
        --link-color: #006264;
        --body-bg: #fdfdfd;
        --body-text: #3c3c3c;
        --about-bg: #fdfdfd;
        --about-text: #3c3c3c;
        --header-text: #006264;
        --header-image: url('/img/icons/chemex.svg');
        --email-image: url('/img/icons/email.svg');
        --phone-image: url('/img/icons/phone.svg');
        --web-image: url('/img/icons/web.svg');
        --github-image: url('/img/icons/github.svg');
        --linkedin-image: url('/img/icons/linkedin.svg');
        --twitter-image: url('/img/icons/twitter.svg');
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --light-text: #dadada;
        --link-color: #fec0c5;
        --body-bg: #001a1b;
        --body-text: #fcfcfc;
        --about-bg: #002e2f;
        --about-text: #fcfcfc;
        --header-text: #fec0c5;
        --header-image: url('/img/icons-light/chemex.svg');
        --email-image: url('/img/icons-light/email.svg');
        --phone-image: url('/img/icons-light/phone.svg');
        --web-image: url('/img/icons-light/web.svg');
        --github-image: url('/img/icons-light/github.svg');
        --linkedin-image: url('/img/icons-light/linkedin.svg');
        --twitter-image: url('/img/icons-light/twitter.svg');
    }
}

html {
    font-family: $Lato, 'Helvetica', 'Arial';
    @include font-size(18);
}

.rd {
  	background-color: var(--body-bg);
  	color: var(--body-text);
    margin: 0;
  	overflow-x: hidden;
    padding: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.rd-content {
  margin: 0 auto;
  max-width: 76.25em;
}

a {
    background-color: inherit;
    color: var(--link-color);
    font-family: inherit;
    text-decoration: underline;
    text-shadow: 1px 0px 5px $linkShadow;
    transition: color 0.5s ease;
}

img {
    border: none;
    display: block;
    max-width: 100%;
    outline: none;
}

h1 {
    @include font-size(32);
    font-weight: 700;
    margin-bottom: 0.5em;
}

h2 {
    @include font-size(32);
    font-weight: 700;
    margin-bottom: 0.5em;
}

h3 {
    @include font-size(24);
    font-weight: 700;
    margin-bottom: 0.3em;
}

h4 {
    @include font-size(21);
    font-weight: 700;
    margin-bottom: 0.3em;
}

p,
li {
    @include font-size(18);
    line-height: 1.2;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.rd-sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

em,
.italic {
    font-style: italic;
}

strong,
.bold {
    font-style: normal;
    font-weight: 700;
}

.rd-print-only {
    display: none;
}

@media print {
    .rd {
        color: $charcoal;
    }

    a {
        color: darken($teal, 15);
    }

    .rd-no-print {
        display: none;
    }

    .rd-print-only {
        display: block;
    }

    h2 {
        @include font-size(20);
    }

    h3 {
        @include font-size(16);
    }

    p,
    li {
        @include font-size(13);
    }
}
