@import '_variables';
@import '_mixins';
@import '_reset';
@import '_fonts';
@import 'themes/default';
@import 'themes/dark';
@import 'themes/high-contrast';
@import 'themes/high-contrast-dark';

html {
    font-family: $Lato, Helvetica, Arial;

    @include font-size(18);
}

.rd {
    background-color: var(--body-bg);
    color: var(--body-text);
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    transition: background-color var(--transition), color var(--transition);
}

.rd-content {
    margin: 0 auto;
    max-width: 76.25em;
}

a {
    background-color: inherit;
    color: var(--link-color);
    font-family: inherit;
    text-decoration: underline;
    text-shadow: 1px 0 5px $linkShadow;
    transition: color var(--transition);
}

img {
    border: none;
    display: block;
    max-width: 100%;
    outline: none;
}

h1 {
    @include font-size(32);

    font-weight: 700;
    margin-bottom: 0.5em;
}

h2 {
    @include font-size(32);

    font-weight: 700;
    margin-bottom: 0.5em;
}

h3 {
    @include font-size(24);

    font-weight: 700;
    margin-bottom: 0.3em;
}

h4 {
    @include font-size(21);

    font-weight: 700;
    margin-bottom: 0.3em;
}

p,
li {
    @include font-size(18);

    line-height: 1.2;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.rd-sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

em,
.italic {
    font-style: italic;
}

strong,
.bold {
    font-style: normal;
    font-weight: 700;
}

.rd-print-only {
    display: none;
}

@media print {
    .rd {
        color: $charcoal;
    }

    a {
        color: darken($teal, 15);
    }

    .rd-no-print {
        display: none;
    }

    .rd-print-only {
        display: block;
    }

    h2 {
        @include font-size(20);
    }

    h3 {
        @include font-size(16);
    }

    p,
    li {
        @include font-size(13);
    }
}
