<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="description" content="Ryan Dudek, a Philadelphia based software engineer.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel='manifest' href='/pwa/manifest.json'>
    <meta name="theme-color" content="#fec0c5">
    {% set css %}
    {% include "css/style.css" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap" rel="stylesheet">
</head>
<body class="rd">
    <main id="rd-main">
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    </main>
</body>
</html>
