<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="description" content="Ryan Dudek, a Philadelphia based software engineer.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel='manifest' href='/pwa/manifest.json'>
    {% set css %}
    {% include "css/style.css" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>
    <script src='/pwacompat.min.js' async></script>
</head>
<body class="rd">
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap" rel="stylesheet">
    {% block scripts %}
    {% endblock %}

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/worker.js', { scope: '/' })
                .then(function(registration) {
                    console.log('Service Worker Registered');
                });

            navigator.serviceWorker.ready.then(function(registration) {
                console.log('Service Worker Ready');
            });
        }
    </script>
</body>
</html>
