<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="css/rynddk.css">
        <title>Ryan Dudek - Keeping it Awesome</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <!-- <script type="text/javascript" src="js/vendor/modernizr.js"></script> -->
	</head>
	<body>
		<div class="page-wrapper">
            {% include "../modules/header.html" %}

            <div id="main" class="page-content" role="main">
                {% block content %}
                {% endblock %}
            </div>

        </div>

        {% include "../modules/footer.html" %}
	</body>
</html>