.header
	background: linear-gradient(bottom, $footerBGTransparent, $footerBGColor)
	color: $headerFontColor
	display: block
	margin: 0 -20px
	overflow: hidden
	padding: 10px 0 0
	position: relative
	width: auto
	
.header--image
	display: inline-block
	width: 4px
	
.header--name
	font-family: $Homestead
	fontSize(32px)
	letter-spacing: -2px
	line-height: 1
	margin: 0
	padding-top	12px
	text-align: center
	text-transform: uppercase
	
	a
		color: $bodyFontColor
		text-decoration: none
	
+above(19em)
	.header--name
		fontSize(38px)
	
	.header--image
		display: inline-block
		height: 75px
		margin: -12px 2px 0
		vertical-align: middle
		width: 51px

+above(21.25em)
	.header--name
		fontSize(42px)
	
	.header--image
		height: 100px
		width: 67px
		
+above(26.25em)
	.header--name
		fontSize(52px)
		
+above(33em)
	.header--name
		fontSize(62px)
		
	.header--image
		height: 120px
		width: 81px
		
+above(40em)
	.header--name
		fontSize(72px)