/*  -----------------------------------
    Custom Fonts
    ----------------------------------- */
@font-face
    font-family: 'Lato'
    src: url('../fonts/Lato/Lato-Reg.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoItalic'
    src: url('../fonts/Lato/Lato-RegIta.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoLight'
    src: url('../fonts/Lato/Lato-Lig.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoLightItalic'
    src: url('../fonts/Lato/Lato-LigIta.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoBlack'
    src: url('../fonts/Lato/Lato-Bla.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoBlackItalic'
    src: url('../fonts/Lato/Lato-BlaIta.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoBold'
    src: url('../fonts/Lato/Lato-Bol.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoBoldItalic'
    src: url('../fonts/Lato/Lato-BolIta.ttf')  format('truetype')
    font-weight: normal
    
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic)
