/*  -----------------------------------
    Custom Fonts
    ----------------------------------- */
@font-face
    font-family: 'Nixie One'
    font-weight: normal

@font-face
    font-family: 'Homestead'
    src: url('../fonts/Homestead/Homestead-Display.ttf')  format('truetype')
    font-weight: normal

@font-face
    font-family: 'Lato'
    src: url('../fonts/Lato/Lato-Reg.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoItalic'
    src: url('../fonts/Lato/Lato-RegIta.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoBold'
    src: url('../fonts/Lato/Lato-Bol.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoBoldItalic'
    src: url('../fonts/Lato/Lato-BolIta.ttf')  format('truetype')
    font-weight: normal