/*  -----------------------------------
    Resets
    ----------------------------------- */
*,
*:before,
*:after
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box


html
    font-size: 100%
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%

body
    font-family $Lato
    -webkit-font-smoothing: antialiased
    font-weight: normal
    margin: 0
    overflow-x: hidden
    
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
    border: 0
    font-size: 100%
    margin: 0
    padding: 0
    vertical-align: baseline

sub, 
sup
    border: 0
    font-size: 55%
    font-weight: normal
    margin: 0
    padding: 0

sup
  vertical-align: super

sub
  vertical-align: sub

input,
textarea,
keygen,
select,
button
    font-family: $Raleway
    -webkit-font-smoothing: antialiased

span
    font-family: inherit

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
    display: block

html,
body
    background: $bodyBGColor
    color: $bodyFontColor
    line-height: 1.25
    max-width: 100%
    min-height: 100%
    overflow-x: hidden
    width: 100%

ul
    margin-left 25px

li
    fontSize(18px)
    margin-bottom: 0.5em
    
p
    fontSize(18px)
    margin-bottom: 0.9em

blockquote,
q
    quotes: none

blockquote:before,
blockquote:after,
q:before,
q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

hr,
.hr
    background: $module-divider
    border: none
    display: block
    height: 1px
    margin: 30px auto
    padding: 0
    width: 100%

a
    color: $link-color
    font-family: inherit
    text-decoration: underline
    text-shadow: 1px 0px 5px rgba(0,0,0,0.35)

img
    border: none
    display: block
    max-width: 100%
    outline: none

input:focus,
select:focus,
button:focus
    outline: none

h1
    font-family: $LatoBold
    fontSize(34px)
    font-weight: normal
    margin-bottom: 0.5em
h2
    font-family: $LatoBold
    fontSize(28px)
    font-weight: normal
    margin-bottom: 0.5em
h3
    font-family: $LatoBold
    fontSize(24px)
    font-weight: normal
    margin-bottom: 0.3em
h4
    font-family: $LatoBold
    fontSize(18px)
    font-weight: normal
    margin-bottom: 0.3em
    
em,
.italic
    font-family: $LatoItalic
    font-style: normal
    
strong,
.bold

    font-family: $LatoBold
    font-style: normal
