.icon
	display: block
	margin: 0
	overflow: hidden
	text-indent: 110%
	white-space: nowrap
	
.icon--email
	background: url('/img/icons/email.png') no-repeat 0 0
	background-size: cover
	height: 40px
	max-width: 40px
	
.icon--github
	background: url('/img/icons/github.png') no-repeat 0 0
	background-size: cover
	height: 40px
	max-width: 40px
	
.icon--instagram
	background: url('/img/icons/instagram.png') no-repeat 0 0
	background-size: cover
	height: 40px
	max-width: 40px
	
.icon--twitter
	background: url('/img/icons/twitter.png') no-repeat 0 0
	background-size: cover
	height: 40px
	max-width: 40px
	
.icon--linkedin
	background: url('/img/icons/linkedin.png') no-repeat 0 0
	background-size: cover
	height: 40px
	max-width: 40px
	
.icon--coffee
	background: url('/img/icons/chemex.png') no-repeat 0 0
	background-size: cover
	max-height: 120px
	max-width: 81px