.icon
	display: block
	margin: 0
	overflow: hidden
	text-indent: 110%
	white-space: nowrap
	
.icon--github
	background: white url('/img/icons/github.png') no-repeat 0 0
	background-size: cover
	height: 40px
	max-width: 40px
	
.icon--instagram
	background: red url('/img/icons/instagram.png') no-repeat 0 0
	background-size: cover
	height: 40px
	max-width: 40px
	
.icon--twitter
	background: blue url('/img/icons/twitter.png') no-repeat 0 0
	background-size: cover
	height: 40px
	max-width: 40px
	
.icon--linkedin
	background: yellow url('/img/icons/linkedin.png') no-repeat 0 0
	background-size: cover
	height: 40px
	max-width: 40px