---
title: Ryan Dudek, Software Engineer - Keeping It Awesome
---

{% extends "layouts/layout.njk" %}

{% block header %}
{% include "components/header.njk" %}
{% endblock %}

{% block content %}
{% include "content/about.njk" %}
{% include "content/resume.njk" %}
{% endblock %}

{% block settings %}
{% include "components/displaySettings.njk" %}
{% endblock %}

{% block scripts %}
{% set js %}
{% include "js/themeToggle.js" %}
{% endset %}
<script>
{{ js | jsmin | safe }}
</script>
{% endblock %}
