---
title: Ryan Dudek, Software Engineer - Keeping It Awesome
---

{% extends "layouts/layout.njk" %}
{% block header %}
    {% include "components/header.njk" %}
    {% include "components/themeToggle.njk" %}
{% endblock %}

{% block content %}
    {% include "content/about.njk" %}
    {% include "content/resume.njk" %}
{% endblock %}
