{% set activeNav = "resume" %}
{% extends 'templates/base.html' %}


{% block content %}
	<div class="page--title">
		<h1 class="resume--header">Resume</h1>
		<a href="/resources/Ryan_Dudek-resume.pdf" target="new" class="resume--download icon--pdf">Download</a>
	</div>

	<div class="page--content resume--content">
		<h2 class="resume--section-title">Technical Skills</h2>
		<p class="resume--skills">HTML, CSS [Stylus / SASS/ LESS], Javascript, jQuery, NPM / Grunt / Gulp, Git, User Experience, Responsive Web Design, Prototyping and Templating, Accessibility</p>

		<h2 class="resume--section-title">Professional Experience</h2>

		<div class="resume--job">
			<h3 class="resume--employer">Epam Systems (formerly Empathy Lab)</h3>
			<p class="resume--additional-info">2010 - Present (<a href="http://www.epam.com/empathylab" target="_blank">www.epam.com/empathylab</a>)</p>
			<h4 class="resume--job-title">Senior Front End Web Developer</h4>
			<p class="resume--job-description">HTML | CSS | JS | NPM | Grunt | Gulp | Git | UX | RWD | Accessibility<br />
				Collaborated with coworkers across disciplines to produce web applications for many clients including: <span class="italic">NBC Universal, Liberty Global, Edmunds, Vertical Screen, Tessco, TJ Maxx, DirecTV,</span> and <span class="italic">The American Red Cross</span>. Provided solutions to user experience and interface design departments. Rapidly built prototypes for sales pitches and for client presentations. Provided solutions for accessibility and multi-lingual issues in designs. Assisted in the development of a Responsive Web Design collaboration workflow across departments. Lead and participated in technical book discussion groups. Mentored and assisted other developers to assist in career, personal, and technical growth.
			</p>
		</div>

		<div class="resume--job">
			<h3 class="resume--employer">Home Front Communications</h3>
			<p class="resume--additional-info">2007 - 2010 (<a href="http://homefrontdc.com/" target="_blank">www.homefrontdc.com</a>)</p>
			<h4 class="resume--job-title">Front End Web Developer</h4>
			<p class="resume--job-description">HTML | CSS | jQuery | Drupal<br />
				Created semantic HTML, use strict CSS and table-less design to lay out web designs, built and maintained Drupal content management systems for clients, added site functionality with jQuery.
			</p>
		</div>
		
		<div class="resume--job">
			<h3 class="resume--employer">Screenmatter</h3>
			<p class="resume--additional-info">2007 (<a href="http://www.screenmatter.com" target="_blank">www.screenmatter.com</a>)</p>
			<h4 class="resume--job-title">Freelance Front End Developer</h4>
			<p class="resume--job-description">HTML | CSS | jQuery<br />
				Created semantic XHTML and ASP.NET mark up, worked within guidelines of excellent search engine optimization, used strict CSS and table-less design to lay out web designs.
			</p>
		</div>
		
		<div class="resume--job">
			<h3 class="resume--employer">US News &amp; World Report</h3>
			<p class="resume--additional-info">2006 - 2007 (<a href="http://www.usnews.com" target="_blank">www.usnews.com</a>)</p>
			<h4 class="resume--job-title">Associate Producer - New Media</h4> 
			<p class="resume--job-description">HTML | CSS<br />
				Posted content to website, compressed video and audio for streaming, recorded, cut and mastered audio.</p>
		</div>

		<h2 class="resume--section-title">Education</h2>
		<h3 class="resume--degree">Bachelor's of Science in Digital Media Production</h3>
		<h4 class="resume--school">The Art Institute of Philadelphia</h4>
		<p class="resume--school-details">
			Presidential Scholarship Recipient<br />
			Consecutive Dean’s List Awards<br />
			Multiple 'Best of Quarter' Awards<br />
			Digital Media Production Club
		</p>
	</div>
{% endblock %}