{% set activeNav = "snippets" %}
{% extends 'templates/base.html' %}


{% block content %}
	<div class="page--title">
		<h1>Snippets</h1>
	</div>

	<div class="snippets--description">
		<p>One of my favorite tools online is <a href="http://www.codepen.io" target="_blank">Codepen</a>; however, one of my least favorite things about Codepen is that I never have a to easily share my pens with people. This page is simply a collection of pens that I have created or forked and edited to enhance. I have even used Codepen to quickly mock up interaction or functionality to share with clients, user experience and interface designers, and other developers.</p>
	</div>

	<div class="snippet">
		<h2 class="snippet--title"><a href="http://codepen.io/ryandudek/pen/qdNyQb" target="_blank">Accessibility Recommendations to Another Developer</a></h2>
		<p class="snippet--description">Recently, another developer that I work with was asking for some accessibility recommendations for a form that he was working on. In <a href="http://codepen.io/anon/pen/Mwerdj/" target="_blank">his pen</a>, he had added labels for the select elements and positioned them off screen, which was great. My recommendations to him were to:</p>
		<ul>
			<li>Add a focus state to the select element (achieved by removing <span class="bold">outline: none;</span> and by using an empty div as a sibling of the select that gets a darker border when in focus)</li>
			<li>Remove <span class="bold">outline: none;</span> from the quantity input element to the right</li>
			<li>Darken the borders of focused elements more than the design had suggested</li>
		</ul>
	</div>

	<div class="snippet">
		<h2 class="snippet--title"><a href="http://codepen.io/ryandudek/pen/WvxKgy" target="_blank">Product Variant Selector</a></h2>
		<p class="snippet--description">For a recent project, we had to create custom accessible form elements to select product variants such as colors or flavors. I quickly mocked up two different ways to do it, since a flavor selector would probably use images instead of simply colors.</p>
	</div>

	<div class="snippet">
		<h2 class="snippet--title"><a href="http://codepen.io/ryandudek/pen/qdNyJO" target="_blank">The Nic Cage Product Grid</a></h2>
		<p class="snippet--description">Every developer has had to build a product grid at some point. Recently, I was working with a client and explaining to them that we could use images that were different aspect ratios and the grid could still line up. Rather than just tell them we could do it, I showed them by quickly building a basic product grid featuring everybody's favorite documentary film star, Nic Cage.</p>
	</div>

	<div class="snippet">
		<h2 class="snippet--title"><a href="http://codepen.io/ryandudek/pen/VLjBgm" target="_blank">Javascript, Em Based Media Queries, and Default Font-Sizes</a></h2>
		<p class="snippet--description">On a recent project with a large focus on accessibility, <a href="http://ashtonharris.me" target="_blank">Ashton Harris</a> and I had realized the benefits of using em based media queries and how we could give users on small screens with large font sizes a better user experience. Where we began to fall short was when we realized that our javascript wasn't always respecting the user's preference. Ashton summed up the problem quite well in <a href="http://www.ashtonharris.me/#!/responsive_js" target="_blank">a blog post</a>, but I created this pen to be able to rapidly demo the problem and push for it to be implemented on my projects.</p>
	</div>

	<div class="snippet">
		<h2 class="snippet--title"><a href="http://codepen.io/ryandudek/pen/jPrpXe" target="_blank">Ems and Rems</a></h2>
		<p class="snippet--description">One day, while trying to explain the difference between ems and rems to my client, I decided that the best way to fully explain it was with a pen. Rather quickly, this became a topic of discussion in our office due to some communications issues between a group of off-shore developers and our design team. I gave a presentation to our design team featuring this pen and additionally helped them understand how they could talk about font sizes, leading, kerning, and tracking with developers and how to speak to these terms using their corresponding CSS properties.</p>
	</div>

	<div class="page--signature snippets--signature">
		<div class="welp-cya-later">
			<img src="img/bandicoot-sm.jpg" alt="Bad at riding bikes" />
		</div>
	</div>
{% endblock %}