.footer
	background: $footerBGColor
	color: $footerFontColor
	margin: 0
	padding: 25px 20px
	width: auto
	
.footer-link
	color: $footerLinkColor
	text-decoration: underline
	
.footer--nav-list
	font-size: 0
	list-style: none
	margin: 15px 0 0
	padding: 0
	
.footer--nav-list__item
	display: inline-block
	font-size: 100%
	max-width: 65px
	padding: 0 0 0 1.5%
	width: 25%
	
	&:first-child
		padding: 0
	