.footer
	background: linear-gradient(top, $footerBGTransparent, $footerBGColor)
	color: $footerFontColor
	margin: 0
	padding: 25px 20px
	text-align: center
	width: auto

.footer--nav-header
	fontSize(22px)
	
.footer-link
	color: $footerLinkColor
	text-decoration: underline
	
.footer--nav-list
	font-size: 0
	list-style: none
	margin: 15px 0 0
	padding: 0
	
.footer--nav-list__item
	display: inline-block
	font-size: 100%
	max-width: 65px
	padding: 0 0.5%
	width: 20%
	
+above(30em)
	.footer--nav-header
		fontSize(26px)