.header
	background: linear-gradient(bottom, $footerBGTransparent, $footerBGColor)
	color: $headerFontColor
	display: block
	margin: 0 -20px
	overflow: hidden
	padding: 10px 0 0
	position: relative
	width: auto
	
.header--image
	display: none
	
.header--name
	font-family: $NixieOne
	fontSize(32px)
	letter-spacing: -2px
	line-height: 1
	margin: 0
	padding-top	12px
	text-align: center
	text-transform: uppercase
	
+above(19em)
	.header--name
		fontSize(38px)
	
	.header--image
		display: inline-block
		height: 100px
		margin: -12px -2px 0
		vertical-align: middle
		width: 67px

+above(21.25em)
	.header--name
		fontSize(42px)
	
	.header--image
		height: 75px
		width: 51px
		
+above(40em)
	.header--name
		fontSize(48px)
		
	.header--image
		height: 120px
		width: 81px