/*  -----------------------------------
    Colors
    ----------------------------------- */

$bodyBGColor = #ffffff

$bodyFontColor = #333333

$linkHighlightColor = #0e96d7

$module-divider = #cccccc


/*  -----------------------------------
    Fonts
    ----------------------------------- */
    
$Lato = 'Lato'
$LatoItalic = 'LatoItalic'
$LatoLightc = 'LatoLight'
$LatoLightItalic = 'LatoLightItalic'
$LatoBlack = 'LatoBlack'
$LatoBlackItalic = 'LatoBlackItalic'
$LatoBold = 'LatoBold'
$LatoBoldItalic = 'LatoBoldItalic'